










  


  <footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0" style="border-radius: 50%;font-size:50px;">
      <!-- Section: Social media -->
      <section class="mb-4" >   
        <div class="icon-bar"   >
            <!-- Facebook -->
            <a href="#" class="facebook btn-floating m-2 "  href="#!" role="button" style="color: #3b5998;" ><i class="fa fa-facebook"></i></a>
             <!-- Twitter --> 
            <a href="#" class="twitter" style=" margin: 10px; padding: 10px; color: #33ccff;"><i class="fa fa-twitter"></i></a>
              <!-- Google -->
            <a href="#" class="google"  style=" margin: 10px; padding: 10px; color:  #dd4b39;"><i class="fa fa-google"></i></a>
           <!-- Linkedin -->
            <a href="#" class="linkedin"  style=" margin: 10px; padding: 10px; background-color:#007bb7; color: white;"><i class="fa fa-linkedin"></i></a>
            <!-- Instagram -->
            <a href="#" class="youtube"  style=" margin: 10px; padding: 10px;color: #ac2bac;"><i class="fa fa-instagram"></i></a>
            <!-- Github -->
            <a href="#" class="youtube"  style=" margin: 10px; padding: 10px; color: #333333;"><i class="fa fa-github"></i></a>

        </div>
       
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color:black">
      © 2020 Copyright:
      <a class="text-white" href="http://localhost:4200/Home">Our Website</a>
    </div>
    <!-- Copyright -->
  </footer>