


<div class="container" style="margin-top: 20PX;  ">
    <div class="row">
       <div class="col-3">
          <h3>Category</h3>
          
          <a href="#" class="list-group-item list-group-item-action active" routerLink='/'>
          All  Category      
          </a>
          <div *ngFor="let p of categoryList" class="list-group">
             
             <a href="#" class="list-group-item list-group-item-action">{{p.Name}}</a>
             <!-- <a href="#" class="list-group-item list-group-item-action">{{p.ID}}</a> -->
           </div>
 
 
 
 
 
 
