<button type="button"  (click)="onAppear()" class="btn btn-dark" style="margin: 20px;">Add New Product</button>


<ng-template #appear>
<form class="row g-3" style="margin: 10px;" #form="ngForm" (ngSubmit)="onSubmit()">
  <p>Form value: {{ form.value | json }}</p>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label" hidden>ID</label>
      <input type="text" class="form-control" id="inputEmail4" hidden>
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Name</label>
      <input type="text" class="form-control"   name="txtName"  #name="ngModel" [(ngModel)]="productDa.Name" >
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Description</label>
      <input type="text" class="form-control" id="inputAddress"  name="txtDescription"  #des="ngModel" [(ngModel)]="productDa.Description">
    </div>
    <div class="col-6">
      
      <label for="inputAddress2" class="form-label" >Image</label>
      <input type="text" class="form-control" id="inputAddress2" name="txtImage"  #des="ngModel" [(ngModel)]="productDa.Image" >
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Price</label>
      <input type="text" class="form-control" id="inputCity" name="txtPrice"  #des="ngModel" [(ngModel)]="productDa.Price" >
    </div>
    
    <div class="col-md-6">
      <label for="inputZip" class="form-label">Quantity</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary   float-center" style="margin: 10px;">Save</button>
    </div>
  </form>
</ng-template>
<div *ngIf="IsaAppear then appear ; " ></div> 












<div style="width:300px ; height:200px ; margin: 4rem;">

  <table class="table table-dark table-bordered" style="margin: 50px; width: 700px; " >
     <thead class="table-dark">
       <tr>
         <th scope="col">#</th>
         <th scope="col">Name</th>
         <th scope="col">Description</th>
         <th scope="col">Image</th>
         <th scope="col">Price</th>
         <th scope="col">Quantity</th>

         
       </tr>
     </thead>
    <tbody *ngFor="let p of productData">
       <tr>
         <th scope="row" >#</th>
         <td>{{p.Name}}</td>
         <td>{{p.Description}}</td>
         <td>{{p.Image}}</td>
         <td>{{p.Price | currency:'USD' :true}}</td>
       <td>{{p.Quantity}}</td>
        </tr>
     </tbody>
   </table> 